AS2_SENDER_ID=3863629312
AS2_RECEIVER_ID=521227911TDL
GEX_AS2_URL=https://gex.dla.mil/as2
AS2_DOMAIN=edi.runbusiness.com
CERT_PASSWORD=openas2password
CONNECTOR_URL=http://boss-edi-connector:3000
NODE_ENV=development
